.about-section {
    display: flex;
    align-items: center;
    max-height: 2000px;
}

@media screen and (max-width: 768px) {
    .about-section {
        background-position: bottom center !important;
        background-image: url("https://drive.google.com/uc?id=1UyEmh3LveWv85QpFjf8EhWjW-2tsEw0_");
    }
    #about-text {
        align-self: start;
    }
    h1 {
        font-size: 30px;
    }
    .card-body {
        padding: 10px;
    }
    .about-section {
        min-height: 700px;
    }
}

@media screen and (min-width: 768px) {
    .about-section {
        background-image: url("https://drive.google.com/uc?id=1YMS6ZZ1raoUIEMVP2s4DJ6nXPwH5Yfq5");
    }
}




#portrait {
    align-self: flex-end;
}

#portrait img {
    object-fit: cover;
    width: 100%;
}