


.gallery-modal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 85vh;
  min-height: 75vh;
}


.gallery-caption {
  text-align: center;
  color: lightgray;
  margin-top: 5px;
}

.modal-content {
  background: transparent !important;
  border: 0 !important;

}

.container-fluid {
  padding: 0 !important;
}


.footer {
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  color: white;
  height: 100px;  
}

.footer>div{
  height: 57px;
}



.primary-color {
  background-color: slateblue !important;
}


.bg-img-full {
  background-position: center center;
  background-repeat: 'no-repeat';
  background-size: cover;
}

.first-container {
  height: max(600px, calc(100vh - 74px));
}

.second-container {
  height: max(600px, 100vh);
}


.contact-container {
  display: flex;
}

.contact-card {
  align-self: center;
}
