


.gallery-modal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 85vh;
  min-height: 75vh;
}


.gallery-caption {
  text-align: center;
  color: lightgray;
  margin-top: 5px;
}

.modal-content {
  background: transparent !important;
  border: 0 !important;

}




.footer {
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  color: white;
  height: 100px;  
}

.footer>div{
  height: 57px;
}



.primary-color {
  background-color: slateblue !important;
}


.main-component {
  min-height: calc(100vh - 57px);
}



.contact-container {
  background-position: center center;
  background-repeat: 'no-repeat';
  background-size: cover;
  min-height: 600px;
}


#about-me h1 {
  font-size: 4rem;
  line-height: 1.2em;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  letter-spacing: -0.07em;
}

#about-me-intro {
  font-size: 2rem;
  color: #666666;
  line-height: 1.3em;
  margin-bottom: 0.7em;
  width: 100%;
  clear: both;
}

#about-me-main {
  font-size: 2rem;
}




