


.gallery-modal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 85vh;
  min-height: 75vh;
}


.gallery-caption {
  text-align: center;
  color: lightgray;
  margin-top: 5px;
}

.modal-content {
  background: transparent !important;
  border: 0 !important;

}




.footer {
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  color: white;
  height: 100px;  
}

.footer>div{
  padding: 40px;
}



.primary-color {
  background-color: slateblue !important;
}


.first-section {
  height: calc(100vh - 57px);
}



.contact-container {
  background-position: center center;
  background-repeat: 'no-repeat';
  background-size: cover;
}






.vh-100 {
  height: 100vh !important;
}

.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:0.9!important;
}
.opacity-5 {
  opacity:1!important;
}